<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create section</h1>

    <form method="post">
        <label for="section_title">Section title:</label>
        <input type="text" name="section_title">

        <br><br>

        <label for="section_description">Section description</label>
        <input type="text" name="section_description">
        
        <br><br>

        <button type="submit">Legg til</button>
    </form>
</body>
</html>